<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Register page</title>
    </head>

    <body>
        <form action="/register" method="post">
            <label>Register</label>
            <input type="text" name="username" placeholder="Enter your username" class="input-field">
            <input type="text" name="password" placeholder="Enter your password" class="input-field">
            <input type="submit" value="Register"/>
        </form>
    </body>

</html>